@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: floatUpDown 3s ease-in-out infinite;
}
/* Mở modal với chuyển động mượt mà */
.modal {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal.show {
  opacity: 1;
  transform: scale(1);
}

/* Các button hoặc liên kết có chuyển động mượt mà */
button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ff9f00;
  transform: translateY(-3px); /* Đẩy lên một chút */
}
/* Hiệu ứng chuyển động mượt mà khi chuyển trang */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms ease, transform 300ms ease;
}
/* Hiệu ứng khi hover vào nút */
.button:hover {
  @apply bg-yellow-400 transform translate-y-1;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

/* Hiệu ứng cho modal */
.modal {
  @apply transition-all ease-in-out duration-300;
}
